---
import MercadoPagoCheckoutPro from '../components/MercadoPagoCheckoutPro';

const mercadoPagoCredentials = {
  public_key: import.meta.env.PUBLIC_MERCADOPAGO_PUBLIC_KEY,
};

const productData = {
  name: "Example Product",
  price: 100,
  quantity: 1,
  discount: null,
};
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Mercado Pago Checkout Pro Example</title>
  </head>
  <body>
    <h1>Mercado Pago Checkout Pro Example</h1>
    <MercadoPagoCheckoutPro 
      client:load
      mercado_pago_credentials={mercadoPagoCredentials}
      product_data={productData}
    />
  </body>
</html>